html, body {
  margin: 0;
  padding: 0;
  background-color: #FFEAEA;
}
canvas {
  display: block;
}

#content {
}

#text {
  display: block;
  margin-top: 440px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  height: 480px;
  padding: 30px;
  /* text-align: center; */
  background-color: #FFFCFC;
}

#footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}
